* {
  box-sizing: border-box;
}

html {
  --money-green: #399b53;
  --indigo-dye: #023b58;
  --snow: #fffbff;
  --cinereous-ashy-grey: #92817a;
  --almond: #f1dabf;
  --caput-mortuum: #482728;
  --black: #000;
  --dark-red: #460000;
  --light-gray: #ededed;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  color: var(--black);
  font-size: 1.2rem;
  background: linear-gradient(
    to bottom,
    var(--snow) 15%,
    var(--money-green),
    var(--indigo-dye) 50%,
    var(--money-green),
    var(--snow)
  );
  /* To keep gradient from repeating */
  height: 100%;
}

/* Main Section */
.section-container {
  display: block;
  background-color: var(--snow);
  color: var(--indigo-dye);
  max-width: 80%;
  margin: 2rem auto;
  border: 4px solid var(--cinereous-ashy-grey);
  border-radius: 20px;
}

hr {
  margin: 1.5rem 0;
}

.content-wrapper {
  padding: 1rem 2rem 0;
  margin-bottom: 2rem;
}

.contact-paragraph {
  text-align: center;
}

.h1-title,
.h2-title,
.h3-title,
.h4-title {
  color: var(--cinereous-ashy-grey);
  text-align: center;
}

.btn {
  background-color: var(--almond);
  color: var(--caput-mortuum);
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  border-radius: 15px;
  width: 150px;
  font-size: 1.2rem;
}

.btn:hover {
  background-color: var(--cinereous-ashy-grey);
}

.btn:active {
  background-color: var(--caput-mortuum);
  color: var(--almond);
}

.form-fields {
  width: 100%;
  padding: 2rem;
  margin: auto;
}

.form-details {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-end;
}

.form-details label {
  flex: 1 0 100px;
  padding: 1rem 0.4rem;
}

.form-details input,
.form-details textarea {
  flex-grow: 2;
  width: 250px;
}

.form-submit {
  text-align: center;
  margin: 1.5rem auto;
}

input {
  padding: 0.3rem 0.2rem;
  margin: 0.5rem auto;
}

textarea {
  height: 200px;
  resize: none;
}
